@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');


@font-face {
  font-family: 'Gambarino';
  src: '/assets/fonts/Gambarino-Regular.woff2';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:'/assets/fonts/Satoshi-Regular.woff2';
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Satoshi Light';
  src:'/assets/fonts/Satoshi-Light.woff2';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:'/assets/fonts/Satoshi-Bold.woff2';
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F1E9DC;
  height: 100%;
  font-family: 'Satoshi', sans-serif;
  scroll-behavior: smooth;
}
:root { --divider-overlap: 6rem; } 

.projects-divider{
  display:block;
  width:100vw;            
  max-width:none;
  line-height:0;
  position:relative;
  left:50%;
  transform:translateX(-50%);  
  margin:0;
  z-index:2;                      
}


.projects-divider.overlap-next{
  transform: translateX(-50%) translateY(var(--divider-overlap));
  margin-top: calc(-1 * var(--divider-overlap));
}


.projects-divider.flipped{
  transform: translateX(-50%) rotate(180deg);
}
.projects-divider.flipped.overlap-prev{
  transform: translateX(-50%) rotate(180deg) translateY(var(--divider-overlap));
  margin-bottom: calc(-1 * var(--divider-overlap));
}


@media (max-width: 48rem){
  :root { --divider-overlap: 2rem; }
}